/*IGNORE THE CONTAINER CLASS*/
.container {
	height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;
}
/*IGNORE THE CONTAINER CLASS*/

.loading-bar {
	width: 400px;
	height: 20px;
	border: 5px solid black;
	border-radius: 5px;
}

.loading-insert {
	width: 398px;
	height: 18px;
	padding: 1px;
	background-color: red;
	animation: load-animation 7s 1;
}

/*ADD ANY OTHER CSS CODE HERE!*/

@keyframes load-animation {
  0%   { width: 0; }
  100% { width: 398; }
}
